<h1 id="title">{{ title }}</h1>

<form action="/action_page.php" (ngSubmit)="handleFormSubmission($event)">
  <div class="form-row">
    <label for="myFile" class="file-label"></label>
    <input type="file" id="myFile" name="filename" class="file-input" />
    <button type="submit" class="submit-button">Submit</button>
  </div>
  <div class="message-container">
    <div class="message-group">
      <span
        class="error-message"
        *ngIf="!selectedFileMessage && fileInputInvalid"
        >No file selected.</span
      >
      <span class="selected-file-message" *ngIf="selectedFileMessage">{{
        selectedFileMessage
      }}</span>
    </div>
  </div>
</form>

<div id="output-box" *ngIf="outputResults">
  <h2 class="output-heading">Output:</h2>
  <pre class="output-data">{{ outputResults }}</pre>
</div>

<button class="remove-file-button" (click)="removeSelectedFile()">
  Remove File
</button>
